name: Hello Hyokeun

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: code-linux

    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Sleep 30 seconds
        run: sleep 30

